@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --bg: #ffffff;
  --primary: #d12a2e;
}

body {
  scroll-behavior: smooth;
}

#root {
  background: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}

input:is(:active, :focus, :focus-visible, :focus-within) {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
